#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pdf-container {
  display: flex;
  justify-content: center;
  width:100%;
  background-color: #534e4e;
  margin: 0 auto;
}

.desktop-container {
  max-height: 90vh;
  overflow: auto;
}

.page {
  margin: 1em 0 0 0;
}


.controls {
  margin-bottom: 20px;
}